.Container-1{
width: 100%;
height: 50px;
    /* padding: 15px 60px; */
    display: flex;
    justify-content: center;

    align-items: center;
    background: hsl(222, 47%, 11%);
    color: white;
    /* position: sticky; */
    top: 0;
    z-index: 1000;
}
